.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-search-form {
    display: flex;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header__logo img {
    width: 300px;
    height: auto;
    vertical-align: middle;
}

.header-utilities nav {
    width: 18%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.header-nav-list {
    display: flex;
    /* ← ここでリストアイテムを横並びにする */
    align-items: center;
    /* 必要に応じて垂直方向中央揃え */
    list-style: none;
    /* デフォルトのリストの点を取り除く */
    padding: 0;
    margin: 0;
}

.header-nav-item {
    margin-left: 15px;
    /* 各リストアイテム間の間隔 */
    /* display: flex; ← これは必要に応じて、リストアイテム内の要素を横並びにする場合に使用 */
}

.header-nav-item:first-child {
    margin-left: 0;
}